<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"></meta>

  <title>Registration Page</title>

</head>

<body>

      <h4>New User Registration</h4>

      <form autocomplete="off" th:object="${user}" th:action="@{/register}" method="post">
            Enter your desired Username: <input name="username" type="text" th:field="*{username}"></input><br/>
            Enter your password: <input name="password" type="password" th:field="*{password}"></input><br/>
            Enter your email: <input name="email" type="email" th:field="*{email}"></input><br/>
            <input name="register" type="submit" value="Register"></input>
            
        

      </form>

</body>

</html>